h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

footer {
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

.preview-page {
  display: none;
}

.results-page {
  display: none;
}

.survey-results {
  width: 200px;
  white-space: pre-line;
}

.btn-not-you {
  background:none!important;
  color:blue;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444;
  cursor: pointer;
}
